{# templates/forum/edit.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}Edit Forum{% endblock %}

{% block body %}
    <h1>Edit Forum</h1>

    {{ form_start(form) }}
        {{ form_row(form.name, {'attr': {'class': 'form-control'}}) }}
        {{ form_row(form.description, {'attr': {'class': 'form-control'}}) }}
        <button class="btn btn-primary mt-3">Save</button>
    {{ form_end(form) }}

    <a href="{{ path('app_forum_index') }}" class="btn btn-link mt-3">Back to list</a>
{% endblock %}